venv/
dockerfiles/jenkins/.ssh
dockerfiles/mkdocs/.ssh
dockerfiles/nginx/.ssh
keys/
./keys
var/
./var
src/remoting.jar
src/remoting/
src/workspace/


venv\
dockerfiles\jenkins\.ssh
dockerfiles\mkdocs\.ssh
dockerfiles\nginx\.ssh
keys\
.\keys
var\
.\var
