.idea
dockerfiles/jenkins/.ssh/id_rsa
dockerfiles/jenkins/.ssh/id_rsa.pub
dockerfiles/jenkins/.ssh/jenkins_rsa
dockerfiles/jenkins/.ssh/jenkins_rsa.pub
dockerfiles/mkdocs/.ssh/id_rsa
dockerfiles/mkdocs/.ssh/id_rsa.pub
var
