venv/
dockerfiles/jenkins/.ssh
dockerfiles/mkdocs/.ssh
dockerfiles/nginx/.ssh
keys/
./keys
var/
./var

venv\
dockerfiles\jenkins\.ssh
dockerfiles\mkdocs\.ssh
dockerfiles\nginx\.ssh
keys\
.\keys
var\
.\var
